body{
	background: url(../img/bg_florals.jpg) #000;
	color: white;
	width: 710px;
	margin: 30px auto;
	font-size: 16px;
	font-family: 'Architects Daughter', cursive;
}
a, #bread a {
	color: white;
}
a:hover, #bread a:hover {
	text-decoration: underline;
}
h1{
	font-family: 'Permanent Marker', sans-serif;
}
h2 {
	font-family: 'Architects Daughter', cursive;
	margin: 0 auto 5px auto;
	padding-top: 10px;
	text-align: center;
	color: white;
	text-transform: capitalize;
}
hr {
	margin: 0;
	height: 2px;
	background-color: white;
}
#accordion {
	width: 210px;
	margin-top: -1px;
}
#accordion li:last-child {
	margin-top:7px;
}
#accordion ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
#beskrivning, #besk, #galleri, #accordion div .ui-accordion-content {
	font-family:'Architects Daughter', cursive;
	font-size: 14px;
}
#beskrivning{
	font-size: 14px;
}
#besk{
	border:1px solid #AAAAAA;
	background:#F8F4E6;
	color:#222222;
	padding:30px;
}
#bread {
	padding: 3px 0 3px 5px;
}
#bread a {
	text-decoration: none;
	text-transform: capitalize;
}
#container{
	background: rgba(168,168,168,0.5);
	min-height: 400px;
	padding-bottom: 5px;
}
#mainheader{
	width: 710px;
	background: url(../img/house.png) #F8F4E6 no-repeat;
	height: 48px;
	color: #000;
	position: relative;
	cursor: pointer;
}
#mainheader>span{
	display: block;
	padding-left: 60px;
}
#mainheader button{
	border-radius: 0;
	position: absolute;
	right: -1px;
	top: 0px;
	height: 48px;
}
#tabs {
	width: 470px;
	overflow: hidden;
}
#tabs, #accordion {
	margin-left: 5px;
	float:left;
}
.mer{
	font-size: 10pt;
	font-style: italic;
}
/* _include.php */

#error {
	border: 3px groove #F33;
	padding: 5px;
	margin: 10px 0;
	color: #F33;
}



/* main.php */

#beskrivning, #list-rum {color:#000;}
#beskrivning {height:150px;overflow-y:auto;}
#list-rum {width:475px;margin-left:5px;padding-left:15px;}
#list-rum a {width:475px;margin-bottom: 5px;text-decoration:none;}
#container {padding-bottom: 30px;}
.inneboende{
	width:220px;
	height:220px;
	background:url("../img/door_icon.png");
	float:left;
	margin:15px 5px -5px 5px;
	text-align:center;
	position:relative;
	color: #EEE;
	font-weight: bold;
	overflow: hidden;
}
.inneboende.add{
	width:120px;
	height:160px;
	float:left;
	margin:20px;
	border-radius:2px;
	text-align:center;
	padding-top:20px;
}
.inneboende img{
	width:200px;
	box-shadow:0 0 2px #000;
	padding:10px;
}
.inneboende.add img{
	width:100px;
	box-shadow:0 0 0px #000;
	padding:10px;
}
#list-rum a div.desc {
	text-decoration:none;
	width: 220px;
	height: 190px;
	padding-top:30px;
	position:absolute;
	display:none;
}
#list-rum a div div.namn {
	text-decoration:underline;
	text-transform:capitalize;
}
#list-rum a div div.besk {
	margin-top:10px;
	text-decoration:none;
	padding: 3px;
}

/* rum.php */

.main-view{
	overflow: hidden;
	text-align: center;
	background: #000;
	color: #fff;
}
.images {
	-webkit-transition: margin-left 0.5s ease-out;
	-moz-transition: margin-left 0.5s ease-out;
	-o-transition: margin-left 0.5s ease-out;
	white-space: nowrap;
	margin:0;
	padding:0;
}
.images div {
	height: 293px;
	width: 446px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.images .img {
	margin: 0 auto;
}
.ui-widget-content a{
	color: #fff;
}
.thumbs {
	margin-left: 10px;
}
.thumb-view {
	background: rgba(0,0,0,0.9);
	padding-top: 5px;
	text-align: center;
	white-space: nowrap;
	position: relative;
}
.thumb-container {
	width: 395px;
	margin: 0 20px 0 20px;
	height: 55px;
	padding: 10px 5px 10px 5px;
	overflow: hidden;
}
.thumb-left, .thumb-right {
	color: rgb(168,168,168);
	padding-top: 23px;
	display: block;
	position: absolute;
	height: 35px;
	width: 20px;
	top: 5px;
	background-repeat: no-repeat;
}
.thumb-left:hover, .thumb-right:hover{
	color: rgb(255,255,255);
}
.thumb-left { left:0px; cursor:w-resize; }
.thumb-right { right:0px; cursor:e-resize; }
.thumb-view img {
	border: 1px solid #262626;
	margin-left: 5px;
	cursor: pointer;
}
.thumb-view img:first-child{
	margin-left:0;
}
.current-thumb {
	outline: 3px solid #ffd907;
}
.thumb-width{
	display: inline-block;
	width: 75px;
	padding-right: 5px;
}
.imgbesk{
	position:absolute;
	top:0;
	#height:60px !important;
	width:100% !important;
	background:rgba(100,100,100,0.8);
	color:#fff;
	padding:10px;
	opacity:0;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	white-space: normal !important;
}
video {
	height: 300px;
	width: 100%;
}
audio {
	left: 70px;
	width: 300px;
}
.imgbesk:hover{
	opacity: 1;
}
.imgbesk_img{
	position: absolute;
	top: 0;
	height: 280px !important;
	width: 100% !important;
	background: rgba(255,255,255,0.8);
	color: #fff;
	padding: 10px;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	white-space: normal !important;
}


